## Mac OSX ##
.DS_Store

## NPM ##
node_modules
package-lock.json
npm-debug.log

## Webpack files ##
src/public/dist
src/public/dist/bundle.js

## Cloudinary API ##
cloudinary/config.js
cloudinary

## File Uploads ##
uploads
