body, html, #app {
  height: 100%;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 360px));
  grid-gap: 10px;
  justify-content: center;
  grid-auto-flow: row;
}

@media only screen and (max-width: 420px) {
  .wrapper {
    grid-template-columns: 1fr;
   }
  .login-forms {
    margin: 0 auto;
    width: 80%;
  }
}

.wrapper div {
  text-align: center;
}

.wrapper form {
  min-height: 125px;
  width: 200px;
  margin: 0 auto;
}

.login-form-button {
  width: 120px;
  position: absolute;
  bottom: 0;
  left: 31%;
}

.landingImage {
  opacity: 0.70;
  background-image: url('../assets/landingImage.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

.landingBlock {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 1.5em;
  letter-spacing: 8px;
  line-height: 57px;
  text-transform: uppercase;
}

.landingBlock .border {
  background-color: black;
  color: #fff;
  padding: 20px;
}

.landingBlock a {
  text-decoration: none;
}

.landingLoginLink {
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.76) 0px 1px 1px;
  font-weight: 800;
}

.landingLoginLink:hover {
  color: rgb(0, 188, 212);
  text-shadow: rgba(0, 0, 0, 0.76) 0px 1px 1px;
}

.login-forms-container {
  margin-top: 20%;
}

.login-forms {
  min-height: 250px;
  max-width: 320px;
  border: 2px solid black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  position: relative;
}

.login-forms h1 {
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.login-forms input {
  margin-top: 5px;
}

.login-form-welcomeBack {
  margin-top: 18px;
  letter-spacing: 3px;
  color: #999;
}

.postListing {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 360px));
  grid-gap: 5px;
  justify-content: left;

}

.postListing-label label {
  font-weight: bold;
}

.postListing input,
.postListing textarea {
  width: 80%;
  padding: 12px 20px;
  margin: 8px;
}

.postListing textarea {
  padding: 5.5px 20px;
  margin-bottom: 4px;
}

.postListing input:focus,
.postListing textarea:focus {
  border: solid;
}

.postListing-submit {
  width: 100%;
}

.postListing-error {
  color: red;
}

input {
  display: block;
  font-size: 15px;
  font-family: monospace;
  height: 30px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.searchBar {
  text-align: center;
  margin: 0 auto;
  font-family: monospace;

}
.messageBox {
  text-align: center;
}

.profileBox {
  text-align: center;
}
