.wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 360px));
  grid-gap: 10px;
  justify-content: center;
  grid-auto-flow: row;

}

@media only screen and (max-width: 360px) {
.wrapper {
    grid-template-columns: 1fr;
   }
}

.wrapper div {
  text-align: center;
}

.wrapper form {
  min-height: 125px;
  width: 180px;
  margin: 0 auto;
}

.dialogButton {
  position: relative;
  bottom: 0;
}
